@{
    ViewBag.Title = "账号设置-Inpinke感受印品的美好";
}
<div class="content_wrapper account_wrapper">
    <!--用户菜单-->
    @Html.Partial("_MyMenuPartial")
    <div class="content_wrapper clearfix">
        <div class="myinfo_list">
        </div>
    </div>
</div>
