@{
    ViewBag.Title = "Inpinke-印品客，感受印品的美好!";
}
<div class="content_wrapper notice_page_wrapper">    
    <div class="content_wrapper clearfix">
        <div class="notice_list_wrapper container">
        <div class="notice_item">
        <h2 class="notice_item_title">我们能做什么?</h2>
        <div class="notice_item_con">我们为您提供个性化的照片定制服务。旅游纪念册、各种节日的个性礼物、结婚纪念、宝宝成长过程、个人写真统统都可以用Inpinke来记录 Inpinke提供的在线设计和制作服务，帮助您记录每次感动。</div>
        <a href="/home" class="back_home">« 回首页</a>
        </div>
          
        </div>
        <div class="right_menu_wrapper">
            <div class="menu_box">
                <div class="menu_title">
                    <h2>
                        快速定制印品</h2>
                </div>
                <div class="box_con">
                    <a href="javascript:;">
                        <img src="../../Content/pagestyle/images/inway_info.png" alt="" /></a>
                </div>
            </div>
             <ul class="recom_books">
                <li class="first_recom">
                    <a href="#"  class="first_recom_cover"><img src="../../Content/pagestyle/demo/in_sky_4.jpg" alt="" /></a>
                    <div class="item_info">
                        <span class="book_name">一声若兮</span><br />
                        <span>向来缘浅，奈何情深。如若叹兮。</span></div>
                </li>
                <li class="recom_item clearfix">
                    <a href="#" class="recom_cover"> <img src="../../Content/pagestyle/demo/in_sky_1.jpg" alt=""  /></a>
                    <div class="item_info">
                        <span class="book_name">一声若兮</span><br />
                        <span>向来缘浅，奈何情深。如若叹兮。</span></div>
                </li>
                <li class="recom_item clearfix" >
                    <a href="#" class="recom_cover"><img src="../../Content/pagestyle/demo/in_sky_3.jpg" alt="" /></a>
                    <div class="item_info">
                        <span class="book_name">一声若兮</span><br />
                        <span>向来缘浅，奈何情深。如若叹兮。</span></div>
                </li>
            </ul>
        </div>
    </div>

     
</div>
