<div class="content_wrapper wrapper_box">
    <ul class="foot_desc clearfix">
        <li class="user_guide">
            <div>
                <h2 class="icon_bg">
                    新手指南</h2>
                <p>
                    <a href="/#">如何定制印品？</a><br />
                    <a href="/#">如何选择适合的印品？</a><br />
                    <a href="/#">印品完成后如何购买付款？</a><br />
                    <a href="/#">定制印品图片有什么要求？</a><br />
                </p>
            </div>
        </li>
        <li class="call_center">
            <div>
                <h2 class="icon_bg">
                    客服中心</h2>
                <p>
                    <a href="/#">
                        <img src="../../Content/pagestyle/images/qqservice.jpg" alt="联系在线客服" />
                    </a>
                    <br />
                    <span>客服邮箱：cs#inpinke.com</span><br />
                    <a href="#">联系我们</a>
                </p>
            </div>
        </li>
        <li class="common_q">
            <div>
                <h2 class="icon_bg">
                    常见问题</h2>
                <p>
                    <a href="">下单了什么时候可以收到货？</a><br />
                    <a href="">有哪些支付方式？</a><br />
                    <a href="">印的多有什么优惠？</a>

                </p>
            </div>
        </li>
        <li class="about_inpinke">
            <div>
                <h2 class="icon_bg">
                    关于印品客</h2>
                    <p>
                    <a href="">印品客可以做什么？</a><br />
                    印品客官方微博<a href="">[关注]</a><br />
                    <a href="">官方博客</a>
                    </p>
            </div>
        </li>
    </ul>
    <div class="links">
      <strong>友情链接：</strong>
    </div>
</div>
