@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inpinke-inTime,❤留住逝去在时光里的纪念...";
}
 <script  type="text/javascript" src="/Content/pagestyle/js/jquery.xslider.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slider').Xslider({ affect: 'fade', ctag: 'div', stag: 'span' }); 
    })
</script>
<div class="content_wrapper obanner_wrapper">
    <div class=" banner_wrapper" style="height: 357px; position:relative;">
    <div id="slider" class="slider" >
			<div class="conbox">				 
			   <div style="position: absolute; z-index: 1; opacity: 1;"><a href="" title=""><img  alt="" src="/Content/pagestyle/demo/intime1.jpg"></a></div>	
                <div style="position: absolute; z-index: 1; opacity: 0;"><a href="" title=""><img  alt="" src="/Content/pagestyle/demo/intime2.jpg"></a></div>				 
			</div>
			<div class="switcher switcher_dot clearfix">
				<span  class="cur">1</span>
                <span  class="">2</span>
                
			</div>
		</div>
      @*  <img src="../../Content/pagestyle/demo/banner_1.jpg" alt="" />*@
    </div>
    <div class="banner_bottom">
    </div>
</div>

<div class="content_wrapper intime_desc clearfix">
    <div class="left_desc">
        <div class="intime_title_bg">
            <img src="../../Content/pagestyle/images/intime_product.jpg" alt="intime-时光" />
        </div>
        <div class="intime_profile">
            <span style="font-size: 19px;">75RMB</span><br />
            <a href="#page" class="active">44面内页(共48页)</a><br />
            <a href="#addpage">12RMB/8Pages的加页价格</a><br />
            <a href="#color">24种背景颜色</a><br />
            <a href="#color">在线编辑</a><br />
            <a href="#template">14种可选组合版式</a><br />
            <a href="#gift">(附赠)礼品封套，检索书卡</a><br />
            <a href="#paper">175g温暖手感纸or特级铜版纸</a><br />
            <a href="#ems">支付后第二个工作日快递方式寄出</a><br />
            <a href="/intime/createintime?prodid=1" class="btn_ok" style="margin-top: 7px; display: block;
                text-align: center;">立即制作</a>
        </div>
    </div>
    <div class="intime_desc_content">
        <div class="profile_text">
            <p>
                [引言]
            </p>
            <p>
                我看着盆里的衣服和盆外的衣服，我看着太阳，看着光线，我一声不吭，看着盆里揉动的衣服和绽开的泡沫，我感觉到周围的光线渐渐暗下去，渐渐地凉下去沉郁下去，越来越远越来越缥缈，我一声不吭，忽然有点儿明白了。我现在还能感觉到那光线漫长而急遽的变化，孤独而惆怅的黄昏到来，并且听得见母亲咔嚓咔嚓搓衣服的声音，那声音永无休止就像<span
                    style="font-size: 20px;">时光</span>的脚步。----史铁生《务虚笔记》</p>
        </div>
        <div class="intime_detail">
            <h3>
                40面内页（共44页）</h3>
            <p>
                InTime-时光默认有40个内页，可放置40张照片。包括封面，封底和扉页共44页。</p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/demo/in_sky_0.jpg" alt="" class="first_item" /></a><a
                        href=""><img src="/Content/pagestyle/demo/in_sky_2.jpg" alt="" /></a><a href=""><img
                            src="/Content/pagestyle/demo/in_sky_3.jpg" alt="" /></a></p>
        </div>
        <div class="intime_detail">
            <h3>
                12RMB/8Pages的加页价格</h3>
            <p>
                40页不够？没关系，在这里你可以尽情的加页。让你尽情书写你所有过往的时光...</p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/demo/in_sky_4.jpg" alt="" class="first_item" /></a><a
                        href=""><img src="/Content/pagestyle/demo/in_sky_5.jpg" alt="" /></a></p>
        </div>
        <div class="intime_detail">
            <h3>
                24种背景颜色</h3>
            <p>
                Intime-时光可以设置24种背景颜色，更缤纷的记录你过往的时光...</p>
            <p style="margin-top: 10px;">
                <img src="/Content/pagestyle/images/color_1.gif" alt="基础色" />
                <img src="/Content/pagestyle/images/color_2.gif" alt="自然色" />
                <img src="/Content/pagestyle/images/color_3.gif" alt="蜡笔色" />
            </p>
        </div>
        <div class="intime_detail">
            <h3>
                在线编辑</h3>
            <p>
                Intime-时光完全在线编辑，你可以随时随地方便的进行编辑。只需要简单的拖拽就可以完成图片的放置，完成下单，等待我们送货上门...</p>
            <p style="margin-top: 10px;">
                <img src="/Content/pagestyle/images/intime_editor.jpg" alt="Intime-时光，编辑器" />
            </p>
        </div>
        <div class="intime_detail">
            <h3>
                14种可选组合版式</h3>
            <p>
                Intime-时光完全在线编辑，有14种照片和文字布局版式可选，让您的照片书灵动多样，享受DIY带来的成就感</p>
            <p style="margin-top: 10px;">
                <img src="/Content/pagestyle/images/intime_style.jpg" alt="Intime-时光，编辑器版式" />
            </p>
        </div>
        <div class="intime_detail">
            <h3>
                (附赠)礼品封套，检索书卡</h3>
            <p>
                Intime-时光随书附赠礼品封套让书本更加精致方便收纳保存。同时还附赠一张检索书卡可以方便检索书本内容。</p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/images/intime_envelop_s.jpg" alt="" class="first_item" /></a>
            </p>
        </div>
        <div class="intime_detail">
            <h3>
                特级铜版纸</h3>
            <p>
                Intime-时光内页纸材采用特级铜版纸。表面平滑，光泽度高，些微反光，色彩饱和度较高。</p>
        </div>
    </div>
</div>
