@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inpinke-inTime,❤留住逝去在时光里的纪念...";
}
<script type="text/javascript" src="/Content/pagestyle/js/jquery.xslider.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slider').Xslider({ affect: 'fade', ctag: 'div', stag: 'span' });
    })
</script>
<div class="content_wrapper obanner_wrapper">
    <div class=" banner_wrapper" style="height: 357px; position: relative;">
        <div id="slider" class="slider">
            <div class="conbox">
                <div style="position: absolute; z-index: 1; opacity: 1;">
                    <a href="" title="">
                        <img alt="" src="/Content/pagestyle/demo/intime1.jpg"></a>
                </div>
                <div style="position: absolute; z-index: 1; opacity: 0;">
                    <a href="" title="">
                        <img alt="" src="/Content/pagestyle/demo/intime2.jpg"></a>
                </div>
            </div>
            <div class="switcher switcher_dot clearfix">
                <span class="cur">1</span> <span class="">2</span>
            </div>
        </div>
    </div>
    <div class="banner_bottom">
    </div>
</div>
<div class="content_wrapper intime_desc clearfix">
    <div class="left_desc">
        <div class="show_book_detail">
            <div class="book_cover">
                <img src="/Content/pagestyle/images/intime_cover.png" alt="inTime-时光" />
            </div>
            <div class="product_info">
                <p>
                    品名：inTime</p>
                <p>
                    规格：14X14CM</p>
                <p>
                    页数：44页(不含封面封底)</p>
                <p>
                    内页纸质：175g温暖手感纸
                    <br />
                    <span style="visibility: hidden;">内页纸质：</span>特级铜版纸
                </p>
                <p>
                    封面纸材：铜版纸覆哑膜</p>
                <p>
                    装订方式：软皮精装</p>
                <p>
                    印品附赠：礼品封套，检索书卡</p>
                <p>
                    制作时间：2~3个工作日</p>
                <p class="order_btn_field product_price clearfix">
                    <span style="float: left; line-height: 26px;">￥75.00</span> <a href="/inpin/create?prodid=1"
                        class="color_btn" style="float: right; padding: 2px 15px;">马上定制</a>
                </p>
            </div>
        </div>
    </div>
    <div class="intime_desc_content">
        <div class="profile_text">
            <h2>
                [inTime-时光]</h2>
            <p>
                我看着盆里的衣服和盆外的衣服，我看着太阳，看着光线，我一声不吭，看着盆里揉动的衣服和绽开的泡沫，我感觉到周围的光线渐渐暗下去，渐渐地凉下去沉郁下去，越来越远越来越缥缈，我一声不吭，忽然有点儿明白了。我现在还能感觉到那光线漫长而急遽的变化，孤独而惆怅的黄昏到来，并且听得见母亲咔嚓咔嚓搓衣服的声音，那声音永无休止就像<span
                    style="font-size: 20px;">时光</span>的脚步。----史铁生《务虚笔记》</p>
        </div>
        <div class="intime_detail">
            <h3>
                印品尺寸和厚度</h3>
            <p>
                尺寸14cm × 14cm ，约 5.6英寸 × 5.6 英寸，CD盒大小，携带方便，可边走边看。 <br />
厚度- 标准44P，iphone4的厚度</p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/demo/in_sky_0.jpg" alt="" class="first_item" /></a><a
                        href=""><img src="/Content/pagestyle/demo/in_sky_2.jpg" alt="" /></a><a href=""><img
                            src="/Content/pagestyle/demo/in_sky_3.jpg" alt="" /></a></p>
        </div>
        <div class="intime_detail">
            <h3>
                印品页数和加页</h3>
            <p>
                推荐页数为44p，最多可容纳44张照片。也可以自由加页，加页价格为4元/2p，最多可以加页12p，尽情收纳您喜欢的照片，不必犹豫取舍。</p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/demo/in_sky_0.jpg" alt="" class="first_item" /></a></p>
        </div>
        <div class="intime_detail">
            <h3>
                封面和封套</h3>
            <p>
              inTime-时光 印品封面采用铜版纸覆亚膜起到防水防油污保护书籍的同时，配合无线胶装工艺提升整本书的翻阅
                 </p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/demo/in_sky_0.jpg" alt="" class="first_item" /></a></p>
        </div>
        <div class="intime_detail">
            <h3>
                简约而且简单</h3>
            <p>
                我们为您定制了14种页面版式，包括6款单页版式，2款文字版式和6款跨页版式，您可以尽情的书写文字，肆意铺呈您喜欢照片。同时还可以达到整书简约极致的风格。
                <br />
                另一方面我们追求的是为您带来尽可能简单的在线定制体验，删繁就简，简单就是美。
                </p>
            <p class="img_list">
                <a href="">
                    <img src="/Content/pagestyle/demo/in_sky_0.jpg" alt="" class="first_item" /></a></p>
        </div>
    </div>
</div>
