<div class="out_wrapper footer_wrapper">
    <div class="content_wrapper">
        <img src="../../Content/images/Inpinke_logo_1.png" alt="" />
        <p><span style="color: #666">©2012 inpinke.com</span> <a href="/about">关于印品客</a>
            <a href="/links" target="_blank">友情链接</a> <a href="http://weibo.com/inpinke"
                target="_blank">新浪微博</a> </p>
    </div>
</div>
