@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    ViewBag.Title = "Inpinke-inTime,❤触摸回忆中的影像...";
}
<div class="out_wrapper obanner_wrapper">
    <!--banner和notice-->
    <div class="content_wrapper">
      
        <div class="banner_wrapper">
            <img src="../../Content/pagestyle/images/intime_1.jpg" alt="" /></div>
        <div class="notice_wrapper clearfix">
            <ul class="banner_small">
                <li class="active">
                    <img src="../../Content/pagestyle/images/intime_s_1.jpg" alt="" /></li><li>
                        <img src="../../Content/pagestyle/images/intime_s_2.jpg" alt="" /></li>
                <li>
                    <img src="../../Content/pagestyle/images/intime_s_1.jpg" alt="" /></li><li>
                        <img src="../../Content/pagestyle/images/intime_s_2.jpg" alt="" /></li>
                <li>
                    <img src="../../Content/pagestyle/images/intime_s_1.jpg" alt="" /></li>
            </ul>
        </div>
    </div>
</div>
<div class="content_wrapper intime_desc clearfix">
    <div class="left_desc">
        <div class="intime_title_bg inmemory_title_bg">
        <img src="../../Content/pagestyle/images/inmemory_product.jpg" alt="inmemory-回忆" />
        </div>
        <div class="intime_profile">
            <span style="font-size: 19px;">75RMB</span><br />
            <a href="#page" class="active">36面内页(共40页)</a><br />
            <a href="#addpage">12RMB/8Pages的加页价格</a><br />
            <a href="#color">24种背景颜色</a><br />
            <a href="#color">在线编辑</a><br />
            <a href="#template">10种可选组合版式</a><br />
            <a href="#gift">(附赠)礼品封套，检索书卡</a><br />
            <a href="#paper">175g温暖手感纸or特级铜版纸</a><br />
            <a href="#ems">支付后第二个工作日快递方式寄出</a><br />
            <a href="/intime/editor.html" class="btn_ok" style="margin-top: 7px; display: block;
                text-align: center;">立即制作</a>
        </div>
    </div>
    <div class="intime_desc_content">
        <div class="profile_text">
            <p>
                [引言]
            </p>
            <p>
                如果当初世代相传的衣服没有大批卖给收旧货的，一年一度六月里晒衣裳，该是一件辉煌热闹的事罢。你在竹竿与竹竿之间走过，两边拦着续罗绸缎的墙——那是埋在地底下的古代宫室里发掘出来的甭道。你把额角贴在织金的花绣上。太阳在这边的时候，将金线晒得滚烫，然而现在已经冷了。</p>
            <p>
                从前的人吃力地过了一辈子，所作所为，渐渐蒙上了灰尘；子孙晾衣裳的时候又把灰尘绘抖了下来，在黄色的太阳里飞舞着。<span style="font-size: 17px;">回憶</span>这东西若是有气味的话，那就是樟脑的香，甜而稳妥，像记得分明的快乐，甜而帐悯，像忘却了的忧愁。----张爱玲《更衣记》</p>
        </div>
        <div class="intime_detail">
            <h3>
                36面内页（共40页）</h3>
            <p>
                InTime-时光默认有36个内页，可放置36张照片。包括封面，封底和扉页共40页。</p>
            <p class="img_list">
                <a href="">
                    <img src="../../Content/pagestyle/images/intime_1.jpg" alt="" class="first_item" /></a><a
                        href=""><img src="../../Content/pagestyle/images/intime_1.jpg" alt="" /></a><a href=""><img
                            src="../../Content/pagestyle/images/intime_1.jpg" alt="" /></a></p>
        </div>
        <div class="intime_detail">
            <h3>
                12RMB/8Pages的加页价格</h3>
            <p>
                36页不够？没关系，在这里你可以尽情的加页。让你书写完你所有过往的时光...</p>
            <p class="img_list">
                <a href="">
                    <img src="../../Content/pagestyle/images/intime_1.jpg" alt="" class="first_item" /></a><a
                        href=""><img src="../../Content/pagestyle/images/intime_1.jpg" alt="" /></a></p>
        </div>
    </div>
</div>
