<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inpinke.Model.Properties.Settings.InpinkeConnectionString"
            connectionString="Data Source=YIEIO-PC\SQL2008;Initial Catalog=Inpinke;User ID=sa;Password=112886"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>