<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intimeEditorWidth>480</intimeEditorWidth>
  <intimeEditorHeight>480</intimeEditorHeight>
  <intimeMiniViewWidth>70</intimeMiniViewWidth>
  <intimeMiniViewHeight>70</intimeMiniViewHeight>
  <inwayEditorWidth>480</inwayEditorWidth>
  <inwayEditorHeight>360</inwayEditorHeight>
  <inwayMiniViewWidth>80</inwayMiniViewWidth>
  <inwayMiniViewHeight>60</inwayMiniViewHeight>
 </configuration>