<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <EmailAddress ><![CDATA[service@inpinke.com]]></EmailAddress>
    <EmailPassword ><![CDATA[yieio112886]]></EmailPassword>
    <EmailSMTP ><![CDATA[smtp.exmail.qq.com]]></EmailSMTP>
  <DisplayName><![CDATA[印品客]]></DisplayName>
</configuration>