<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--邮件模版，下单支付成功-->
  <PaySuccess><![CDATA[]]></PaySuccess> 
  <!--重设密码邮件模版-->
  <ResetPassword>
    <![CDATA[
    <style type="text/css">
        .inpinke_con_wrapper p
        {
            margin: 0px;
            padding: 0px;
            line-height: 1.5;
        }
        .inpinke_con_wrapper p.inpinke_user_name
        {
            font-size: 16px;
            line-height: 1.9;
        }
    </style>
    <div class="inpinke_out_wrapper" style="background-color: #ececec; border: solid 1px #ececec;">
        <div class="inpinke_in_wrapper" style="width: 650px; margin: 3px auto; background-color: #fff;
            border: solid 1px #e1e1e1; font-size: 14px;">
            <div class="inpinke_top_wrapper" style="background-color: #0192b5; height: 65px;">
                <img src="/Content/pagestyle/images/inpinke_logo_email.jpg" alt="" style="margin-top: 12px;
                    margin-left: 17px;" />
            </div>
            <div class="inpinke_con_wrapper" style="padding: 7px 17px; min-height: 300px;">
                <p class="inpinke_user_name">
                    亲爱的{NickName}：
                </p>
                <p style="margin-top: 10px;">
                    您的密码重设要求已经得到验证。请点击以下链接输入您新的密码：<br />
                    <a href="http://inpinke.com/account/resetpassword?v={ValidateCode}">http://inpinke.com/account/resetpassword?v={ValidateCode}</a></p>
                <p style="margin-top: 13px;">
                    如果您的email程序不支持链接点击，请将上面的地址拷贝至您的浏览器(例如IE)的地址栏进入 Inpinke-印品客。<br />
                    感谢对印品客的支持，希望您在印品客能轻松定制印品。<br /><br />
                    印品客 <a href="http://inpinke.com">http://inpinke.com</a>
                    <br />
                    (这是一封自动产生的email，请勿回复。)</p>
            </div>
            <div class="inpinke_foot_wrapper" style="background-color: #fafafa; border-top: solid 1px #eaeaea;">
                <div class="inpinke_foot_con" style="background: none;padding: 15px 17px; color:#888;">
                  Inpinke-印品客，感受印品的美好！
                </div>
            </div>
        </div>
    </div>]]></ResetPassword>
</configuration>