<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <StaticSourceUrl><![CDATA[/content]]></StaticSourceUrl>
  <UserFileSourceUrl><![CDATA[]]></UserFileSourceUrl>
  <PdfSourceUrl><![CDATA[/outpdf]]></PdfSourceUrl>
  <FrontWebsiteUrl><![CDATA[]]></FrontWebsiteUrl>
  <AdminKey><![CDATA[adminkey2frontweb]]></AdminKey>
</configuration>