@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inpinke-印品客，感受印品的美好!";
}
<script  type="text/javascript" src="/Content/pagestyle/js/jquery.xslider.js"></script>
 <div class="content_wrapper obanner_wrapper">
   <div class=" banner_wrapper">
    <img src="../../Content/pagestyle/demo/index_demo_1.jpg"  alt=""/>
   </div>
   <div class="banner_bottom"></div>
 </div>

    @Html.Partial("_FootDesc")