@{
    ViewBag.Title = "等待收货-Inpinke";
}
 <div class="content_wrapper order_wrapper">
    <p class="content_title">
        <span>等待收货</span>
    </p>
    <p class="order_step">
        <span>1、确认商品信息</span><span>></span><span>2、填写订单信息</span><span>></span><span>3、完成支付</span><span>></span><span style="color: #111; font-weight:bold;">4、等待收货</span></p>
       <div class="success_wrapper">
         <h2>恭喜您，支付成功</h2>
         <p>我们将在两个工作日内完成印刷制作，并按您指定的方式快递给你，您最晚将于2012年8月15日收到您的印品。</p>
         <p>谢谢您对我们的支持！</p>
         <p>您可以把制作的印品分享给好友：</p>
         <p style=" margin-top:10px;"><a href="/sold/" class="sold_btn">申请出售该印品</a> <a href="/">如何申请出售？</a></p>
       </div>
 </div>
