@{
    ViewBag.Title = "印品介绍-印品客，感受印品的美好";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Content/pagestyle/js/jquery.xslider.js"></script>
<div class="content_wrapper obanner_wrapper">
    <div class=" banner_wrapper" style="height: auto;">
        <img src="../../Content/pagestyle/demo/banner_1.jpg" alt="" />
    </div>
    <div class="banner_bottom">
    </div>
</div>
<div class="content_wrapper inpin_wrapper">
    @Html.Partial("_InpinMenu", "Inpin")
    <div class="inpin_description_list clearfix">
        <h2>
            照片书系列</h2>
        <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/intime" title="inTime-时光">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inTime-时光" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inTime-时光<br />
                    CD盒大小的照片书，方形款式<br />
                    14cm x 14cm<br />
                    软皮精装工艺，欧洲进口纸或特种纸印刷<br />
                    最低44页，RMB69元，即可拥有
                </p>
                <p class="btn_field">
                    <a href="/intime/createintime?prodid=1" class="color_btn">立即制作</a>&nbsp;&nbsp;<a
                        href="/intime">查看详情</a></p>
            </div>
        </div>
        <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/inpainting" title="inPaint-图画">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inPaint-图画" style="background-position: -930px -35px;" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inPaint-图画<br />
                    28cm x 21cm，A4大小横版<br />
                    内页可完全摊平，画面完全无损<br />
                    欧式精装工艺，给您带来宽广极致的享受<br />
                    四色印刷，最低 RMB129元 即可拥有
                </p>
                <p class="btn_field">
                    <a href="/inpin/create?prodid=2" class="color_btn">立即制作</a>&nbsp;&nbsp;<a href="/inpaint">查看详情</a></p>
            </div>
        </div>
        <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/inway" title="inWay-路途">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inWay-路途" style="background-position: -1305px -60px;" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inWay-路途<br />
                    20cm x 15cm，横版<br />
                    不错过路途上的每一寸风景<br />
                    软皮精装工艺，欧洲进口纸或特种纸印刷<br />
                    四色印刷，最低 RMB99元 即可拥有
                </p>
                <p class="btn_field">
                    <a href="/inpin/create?prodid=3" class="color_btn">立即制作</a>&nbsp;&nbsp;<a href="/inway">查看详情</a></p>
            </div>
        </div>
        <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/inmemory" title="inMemory-回忆">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inMemory-回忆" style="background-position: -1505px -40px;" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inMemory-回忆<br />
                    15cm x 20cm，竖版文青款<br />
                    图片文字尽情铺呈书写，记录回忆中的点点滴滴<br />
                    软皮精装工艺，欧洲进口纸或特种纸印刷<br />
                    四色印刷，最低 RMB79元 即可拥有
                </p>
                <p class="btn_field">
                    <a href="/inpin/create?prodid=4" class="color_btn">立即制作</a>&nbsp;&nbsp;<a href="/inmemory">查看详情</a></p>
            </div>
        </div>
         <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/infun" title="inMemory-回忆">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inFun-乐趣" style="background-position: -1505px -40px;" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inFun-乐趣<br />
                    18cm x 25cm，竖版摄影款<br />
                    图片文字尽情铺呈书写，记录回忆中的点点滴滴<br />
                    软皮精装工艺，欧洲进口纸或特种纸印刷<br />
                    四色印刷，最低 RMB129元 即可拥有
                </p>
                <p class="btn_field">
                    <a href="/inpin/create?prodid=4" class="color_btn">立即制作</a>&nbsp;&nbsp;<a href="/infun">查看详情</a></p>
            </div>
        </div>
    </div>
    <div class="inpin_description_list clearfix">
        <h2>
            卡片系列</h2>
        <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/inmemory" title="inLove-爱情">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inLove-爱情" style="background-position: -345px -50px;" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inLove-爱情<br />
                    14cm x 14cm，婚礼请柬<br />
                    每套包括请柬+信封+封口贴<br />
                    最低一套30枚<br />
                    四色印刷，最低 RMB108元
                </p>
                <p class="btn_field">
                    <a href="/inpin/create?prodid=4" class="color_btn">立即制作</a>&nbsp;&nbsp;<a href="/inlove">查看详情</a></p>
            </div>
        </div>
        <div class="inpin_item">
            <div class="img_wrapper">
                <a href="/inmemory" title="inPiece-碎片">
                    <img src="../../Content/pagestyle/images/dot_spirt.png" alt="inPiece-碎片" style="background-position: -345px -50px;" />
                </a>
            </div>
            <div class="profile_wrapper">
                <p>
                    产品名称：inPiece-碎片<br />
                    14cm x 14cm，14cm x 11cm(横竖两款)<br />
                    多款版式可选<br />
                    每套8张起印<br />
                    四色印刷，最低 RMB12元，即可拥有
                </p>
                <p class="btn_field">
                    <a href="/inpin/create?prodid=4" class="color_btn">立即制作</a>&nbsp;&nbsp;<a href="/inpiece">查看详情</a></p>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_FootDesc")
